{$SITE_ADDRESS:http://localhost} {
	encode zstd gzip

	header {
		-Server
		Content-Security-Policy "frame-ancestors 'none'"
		Referrer-Policy "strict-origin-when-cross-origin"
		X-Content-Type-Options "nosniff"
		X-Frame-Options "DENY"
	}

	reverse_proxy app:8000
}
